# place file in /etc/systemd/system/wfb-transmitter.service
# sudo systemctl daemon-reload
# sudo systemctl enable wfb-transmitter.service
# sudo systemctl start wfb-transmitter.service
# View Output: sudo journalctl -u wfb-transmitter.service -f

[Unit]
Description=WiFiBroadcast-NG Transmitter Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/eblimp/projects/video-tx-rx
ExecStart=/home/eblimp/projects/video-tx-rx/combined_tx.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
